---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
<head>
<!-- 优化自定义字体加载（刷新页面会闪烁）问题（Flash of Unstyled Text），优先使用woff2 -->
  <link rel="preload" href="{{ site.baseurl }}/assets/css/fonts/ProximaSoft-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
</head>
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% include components/sidebar.html %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div id="main-content-wrap" class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
          <!-- content 即 md 文件中的内容（会自动变为 html 格式），只需写明 layout: default 即可自动识别 -->
            {{ content }}
          {% endif %}

          {% if page.has_children == true and page.has_toc != false %}
            {% include components/children_nav.html %}
          {% endif %}
        </main>
        {% if site.github.repository_url %}
        <div id="gitalk-container"></div>
        <script>
          var gitalk = new Gitalk({
            clientID: '13fe267844585bfc1fb6',
            clientSecret: '0726d43fdedd84083fa2f3af7446d8ffa7b3d5f3',
            repo: '{{ site.github.repository_name }}',
            owner: '{{ site.github.owner_name }}',
            admin: ['dreamlessdrugs'],
            id: '{{ page.path }}',      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
          })
          gitalk.render('gitalk-container')
        </script>
        {% endif %}
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
